<footer class="footer">
  <div class="container">
    <h2 class="visually-hidden">Footer</h2>
    <div class="footer__wrapper">
      <p class="footer__text">&#169; 2022 &#124; All Rights Reserved &#124;</p>
      <p class="footer__text">Developed with</p>
      <p class="footer__text">
        by <button class="footer__button">GoIT Students</button>
      </p>
      <svg class="footer__svg" width="14" height="13">
        <use href="./svg/sprite.svg#icon-heart"></use>
      </svg>
    </div>
  </div>
</footer>
