<header class="head__library">
  <div class="section">
    <div class="head__nav">
      <a class="head__logo" href="./index.html">
        <svg width="24" height="24">
          <use href="./svg/sprite.svg#icon-logo"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>
      <div>
        <a class="head__link--home home" href="./index.html">Home</a>
        <a class="head__link--library current" href="./library.html">
          My library
        </a>
      </div>
    </div>
    <div class="library__buttons">
      <button type="button" class="watched current-button">Watched</button>
      <button type="button" class="queue">Queue</button>
    </div>
  </div>
  <!-- <include src="./partials/auth.html"></include> -->
</header>
