<div class="backdrop visually-hidden">
  <div id="modal-loader" class="lds-spinner visually-hidden">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="modal-container visually-hidden">
    <button class="close-button">
      <svg class="icon-close">
        <use href="./svg/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal"></div>
  </div>
  <div class="modal-footer visually-hidden">
    <button class="close-button">
      <svg class="icon-close">
        <use href="./svg/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="team">
      <li class="team-card">
        <img src="./jpg/marta.jpg" alt="" class="team-photo" />
        <div class="team-wrapper">
          <h3 class="team-name">Дяків Марта</h3>
          <p class="team-text">Team Lead</p>
          <a
            class="team-link"
            href="https://github.com/imartete/js-team-project"
          >
            <svg class="team-icon" width="20" height="20">
              <use href="./svg/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team-card">
        <img src="./jpg/oleksandr.jpg" alt="" class="team-photo" />
        <div class="team-wrapper">
          <h3 class="team-name">Конюшенко Олександр</h3>
          <p class="team-text">Scrum Master</p>
          <a
            class="team-link"
            href="https://github.com/imartete/js-team-project"
            ><svg class="team-icon" width="20" height="20">
              <use href="./svg/sprite.svg#icon-github"></use></svg
          ></a>
        </div>
      </li>
      <li class="team-card">
        <img src="./jpg/vlad.jpg" alt="" class="team-photo" />
        <div class="team-wrapper">
          <h3 class="team-name">Марінін Владислав</h3>
          <p class="team-text">Developer</p>
          <a
            class="team-link"
            href="https://github.com/imartete/js-team-project"
            ><svg class="team-icon" width="20" height="20">
              <use href="./svg/sprite.svg#icon-github"></use></svg
          ></a>
        </div>
      </li>
      <li class="team-card">
        <img src="./jpg/vitalii.jpg" alt="" class="team-photo" />
        <div class="team-wrapper">
          <h3 class="team-name">Бєлов Віталій</h3>
          <p class="team-text">Developer</p>
          <a
            class="team-link"
            href="https://github.com/imartete/js-team-project"
            ><svg class="team-icon" width="20" height="20">
              <use href="./svg/sprite.svg#icon-github"></use></svg
          ></a>
        </div>
      </li>
      <li class="team-card">
        <img src="./jpg/volodymyr.jpg" alt="" class="team-photo" />
        <div class="team-wrapper">
          <h3 class="team-name">Король Володимир</h3>
          <p class="team-text">Developer</p>
          <a
            class="team-link"
            href="https://github.com/imartete/js-team-project"
            ><svg class="team-icon" width="20" height="20">
              <use href="./svg/sprite.svg#icon-github"></use></svg
          ></a>
        </div>
      </li>
    </ul>
  </div>
</div>
