<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex" role="search">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <h3 id="hh"></h3>
          <li class="nav-item">
            <a
              id="userlink"
              class="nav-link active"
              aria-current="page"
              href="#"
              >Username</a
            >
          </li>
          <li class="nav-item">
            <a
              id="signoutlink"
              class="nav-link active"
              aria-current="page"
              href="#"
              >Sign Out</a
            >
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav> -->

<div class="container navbar">
  <!-- <div class="menu-button">Menu</div> -->
  <ul class="navbar-list">
    <li class="nav-item">
      <a id="signoutlink" class="nav-btn active" aria-current="page" href="#"
        >Sign Out</a
      >
    </li>
    <li class="nav-item">
      <a id="userlink" class="nav-link active" aria-current="page" href="#"
        >Username</a
      >
    </li>
  </ul>
  <!-- <ul class="flexnav"> -->
</div>
