:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery-item .movie__link {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.movie__poster {
  min-height: 402px;
  margin-bottom: 10px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition: transform var(--animation-duration) var(--timing-function);

  @media screen and (min-width: 768px) {
    max-height: 455px;
    margin-bottom: 8px;
  }

  @media screen and (min-width: 1280px) {
    max-height: 574px;
    margin-bottom: 12px;
  }
}

.movie__poster:hover {
  transform: scale(1.03);
}

.movie__link .movie__title {
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000000;

  @media screen and (min-width: 768px) {
    line-height: 16px;
  }

  @media screen and (min-width: 1280px) {
    line-height: 24px;
    font-size: 20px;
  }
}

.movie__link .movie__info {
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ff6b08;

  @media screen and (min-width: 1280px) {
    line-height: 24px;
    font-size: 20px;
  }
}
.movie__rating {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 16px;

  background-color: #ff6b01;
  border-radius: 5px;

  color: #fff;
  font-size: 12px;
  line-height: calc(14 / 12);

  @media screen and (min-width: 1280px) {
    width: 40px;
    height: 20px;
  }
}
