.search-result {
  @include mobile {
    padding: 20px 0;
  }
  @include tablet {
    padding: 60px 0;
  }
}
.gallery {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: grid;

  @include mobile {
    grid-template-columns: 280px;
    gap: 20px;
  }

  @include tablet {
    grid-template-columns: repeat(2, 336px);
    gap: 32px;
  }

  @include desktop {
    grid-template-columns: repeat(3, 395px);
    gap: 32px 16px;
  }
}

.movie {
  &__poster {
    border-radius: 5px;
    width: 280px;
    height: 402px;

    @include tablet {
      width: 336px;
      height: 455px;
    }
    @include desktop {
      width: 395px;
      height: 574px;
    }

    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    margin: 12px 0 4px 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    text-transform: uppercase;

    color: $primary-color;

    @include desktop {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  &__info {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    margin: 0;

    color: $accent-color;

    @include desktop {
      font-size: 20px;
      line-height: 1.2;
    }
  }
}
.placeholder {
  position: relative;
  top: 50%;
  @include tablet {
    left: 50%;
  }
  @include desktop {
    left: 100%;
  }
}
.img-placeholder {
  background-color: #f7f7f7;
  background-image: url('../svg/placeholder.svg');
  background-repeat: no-repeat;
  background-position: 50% 20%;
}
